__pycache__/__init__.cpython-39.pyc
__pycache__/Angularidad.cpython-39.pyc
__pycache__/base.cpython-39.pyc
__pycache__/clasificacion_redes_dialog.cpython-39.pyc
__pycache__/clasificacion_redes.cpython-39.pyc
__pycache__/Elongacion.cpython-39.pyc
__pycache__/Fractal.cpython-39.pyc
__pycache__/fuzzyclassification.cpython-39.pyc
__pycache__/RatioLongitud.cpython-39.pyc
__pycache__/resources.cpython-39.pyc
__pycache__/resources.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
skfuzzy/defuzzify/__pycache__/__init__.cpython-39.pyc
skfuzzy/defuzzify/__pycache__/defuzz.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/__init__.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/_continuous_to_discrete.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/fuzzy_logic.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/fuzzy_ops.cpython-39.pyc
skfuzzy/image/__pycache__/__init__.cpython-39.pyc
skfuzzy/image/__pycache__/arraypad.cpython-39.pyc
skfuzzy/image/__pycache__/imops.cpython-39.pyc
skfuzzy/image/__pycache__/metrics.cpython-39.pyc
skfuzzy/image/__pycache__/shape.cpython-39.pyc
skfuzzy/membership/__pycache__/__init__.cpython-39.pyc
skfuzzy/membership/__pycache__/generatemf.cpython-39.pyc
__pycache__/__init__.cpython-39.pyc
__pycache__/Angularidad.cpython-39.pyc
__pycache__/base.cpython-39.pyc
__pycache__/clasificacion_redes_dialog.cpython-39.pyc
__pycache__/clasificacion_redes.cpython-39.pyc
__pycache__/Elongacion.cpython-39.pyc
__pycache__/Fractal.cpython-39.pyc
__pycache__/fuzzyclassification.cpython-39.pyc
__pycache__/RatioLongitud.cpython-39.pyc
__pycache__/resources.cpython-39.pyc
__pycache__/Sinusoidad.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
skfuzzy/defuzzify/__pycache__/__init__.cpython-39.pyc
skfuzzy/defuzzify/__pycache__/defuzz.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/__init__.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/_continuous_to_discrete.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/fuzzy_logic.cpython-39.pyc
skfuzzy/fuzzymath/__pycache__/fuzzy_ops.cpython-39.pyc
skfuzzy/image/__pycache__/__init__.cpython-39.pyc
skfuzzy/image/__pycache__/arraypad.cpython-39.pyc
skfuzzy/image/__pycache__/imops.cpython-39.pyc
skfuzzy/image/__pycache__/metrics.cpython-39.pyc
skfuzzy/image/__pycache__/shape.cpython-39.pyc
skfuzzy/membership/__pycache__/__init__.cpython-39.pyc
skfuzzy/membership/__pycache__/generatemf.cpython-39.pyc
.vscode/settings.json
.env
__pycache__/clasificacion_redes_dialog.cpython-39.pyc
__pycache__/clasificacion_redes.cpython-39.pyc
__pycache__/clasificacion_redes_dialog.cpython-39.pyc
